@font-face {
  font-family: "PPNeueMontreal";
  src: url(./assets/PPNeueMontreal-Medium.otf);
}

:root {
  font-family: PPNeueMontreal, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #dbd9ce;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
background: rgba(255, 255, 255, 0.2);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 10px;
}

a {
  color: black;
  padding: 0 10px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 1px;
}

.bar {
  background-color: black;
  opacity: .4;
  height: 2px;
  position: absolute;
  bottom: 15px;
  transition: all .5s ease;
}